:root {
  --red: 100;
  --green: 100;
  --blue: 100;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

h1,
h3 {
  color: white;
  text-shadow: 1px 1px 1px black;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  margin-bottom: 100px;
}

body {
  background: rgb(var(--red), var(--green), var(--blue));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  margin: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

#red::-webkit-slider-thumb {
  background: red;
}
#green::-webkit-slider-thumb {
  background: green;
}
#blue::-webkit-slider-thumb {
  background: blue;
}
